body {
    font-family: "Courier New";
    color: gray;
    text-align: center;
    font-size: 120%;
}

h1 {
    margin-top: 50px;
    font-size: 120%;
    font-weight: normal;
    text-transform: uppercase;
}

a:visited, a:link {
    color: gray;
}

body div {
    margin: 20px 0;
}

nav {
    height: 35px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: solid 1px lightgray;
}

nav ul {
    padding-left: 0;
    margin: 0 auto;
    list-style: none;
    display: inline-block;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: inline-block;
    text-align: center;
    padding: 7px 15px;
    text-decoration: none;
}

nav ul li.icon { display: none; }

@media screen and (max-width:680px) {
    nav ul li { display: none; }
    nav ul li a { padding: 3px 5px; }
    nav ul li.icon {
        float: right;
        display: inline-block;
    }
    ul.topnav.vertical {
        width: 100%;
    }
    ul.topnav.vertical li {
        float: none;
        display: inline;
        border-bottom: solid 1px lightgray;
    }
    ul.topnav.vertical li:last-child a {
        border-bottom: solid 1px lightgray;
    }
    ul.topnav.vertical li a {
        text-align: center;
        background-color: #fff;
        display: block;
    }
}

a.anchor {
    display: block;
    position: relative;
    top: -25px;
    visibility: hidden;
}

.bumper {
    height: 15px;
}

.ep {
    margin: 0 10px;
    max-width: 500px;
    display: inline-block;
}

.album-cover {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    height: 400px;
    width: 400px;
    border:1px solid lightgray;
}

article {
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    font-size: 80%;
    text-align: left;
}

@media (max-width: 500px) {
    .album-cover {
        height: 300px;
        width: 300px;
    }
}

