body {
    font-family: "Courier New";
    color: gray;
    text-align: center;
    font-size: 120%;
}

body div {
    margin-top: 30px;
}

nav {
    height: 35px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: solid 1px grey;
}

nav ul {
    padding-left: 0;
    margin: 0 auto;
    list-style: none;
    display: inline-block;
}

nav ul li { float: left; }

nav ul li a {
    display: inline-block;
    text-align: center;
    padding: 7px 15px;
    text-decoration: none;
}

nav ul li.icon { display: none; }

a.anchor {
    display: block;
    position: relative;
    top: -25px;
    visibility: hidden;
}

.bumper {
    height: 5px;
}

.ep {
    margin-top: 0;
    max-width: 500px;
    display: inline-block;
}

.album-cover {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    height: 400px;
    width: 400px;
    border:1px solid lightgray;
}

article {
    padding: 20px 10px 0 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    font-size: 80%;
    text-align: left;
}

@media (max-width: 500px) {
    .album-cover {
        height: 300px;
        width: 300px;
    }
}

