body {
    font-family: "Courier New";
    color: gray;
    text-align: center;
    font-size: 120%;
}

body div {
    margin-top: 50px;
}

.album-cover {
    margin-top: 30px;
    padding: 2px;
    height: 500px;
    width: 500px;
    border:1px solid lightgray;
}

@media (max-width: 500px) {
    .album-cover {
        height: 300px;
        width: 300px;
    }
}

